body{
  margin: 0;
  padding: 0
}

.avatar-uploader{
  text-align: center;
}
.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.avatar-uploader .el-upload:hover {
  border-color: #409EFF;
}
.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  line-height: 178px;
  text-align: center;
}
.avatar {
  width: 178px;
  height: 178px;
  display: block;
}


/* 发布文章组件,模块,专属样式,书写如下↓, */
.publishArticle_container .ql-toolbar.ql-snow{
  padding: 0 8px;
}
.publishArticle_container .ql-editor{
  height: 300px;
}

.my_cover_container .el-dialog__body{
  padding-bottom: 0;
}





